@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.date-hour{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #eee;
    text-align: center;
    margin-top: -80px;
}

p {
    margin-top: -10px;
}