@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
    
}

.task-title{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.buttons-container{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.remove-task-button{
    background-color: #444;
    border: none;
    font-size: 16px;
    color: #FFA401;
}